@using NinjaSoftware.TrzisteNovca.CoolJ.DatabaseGeneric.BusinessLogic
@using NinjaSoftware.TrzisteNovca.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Tržište Novca</title>
    <link href='http://fonts.googleapis.com/css?family=Noticia+Text' rel='stylesheet' type='text/css' />

    <link href="../../Content/main6.css" rel="stylesheet"/>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/globalize")
    @Scripts.Render("~/bundles/custom")
    
    <script src="../../Scripts/hoverIntent.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //$("ul.sf-menu").superfish();

            $("div.print").click(function () {
                var params = {};
                params["printPage"] = "true";
                ninjaSoftware.url.setParameters(params, true);
            });

            $("a").click(function () {
                this.blur();
            });
        });
    </script>

    <script type="text/javascript" src="../../Scripts/jqplot/jquery.jqplot.min.js"></script>
    <script type="text/javascript" src="../../Scripts/jqplot/plugins/jqplot.dateAxisRenderer.min.js"></script>
    <script type="text/javascript" src="../../Scripts/jqplot/plugins/jqplot.highlighter.min.js"></script>
    <script type="text/javascript" src="../../Scripts/jqplot/plugins/jqplot.enhancedLegendRenderer.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../Scripts/jqplot/jquery.jqplot.min.css" />
   
    @* NOVI MENI ZA IE7 I MANJE *@
    <link href="../../Content/tn.navigation.css" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/tn.navigation.js" type="text/javascript"></script>
    @{
        bool isIe8OrLess = false;
        bool isIe7OrLess = false;
        
        if (Request.Browser.Type.ToLower().Contains("ie"))
        {
            decimal version;

            if (decimal.TryParse(Request.Browser.Version, System.Globalization.NumberStyles.Any, new System.Globalization.CultureInfo("en-US"), out version))
            {
                if(version < 9)
                {
                    isIe8OrLess = true;
                }

                if (version < 8)
                {
                    isIe7OrLess = true;
                }                
            }
        }
        }

@*    @if (isIe8OrLess)
    {*@
    <text>
        <script type="text/javascript" src="../../Scripts/jqplot/excanvas.min.js"></script>
    </text>    
@*    }*@
    
@*    @if (isIe7OrLess)
    { *@
    <text>
        <link rel="stylesheet" href="../../Content/Ie6DropDown.css" media="screen" />
    </text>
@*    }
    else
    {
    <text>
        <script type="text/javascript" src="../../Scripts/superfish.js"></script>
        <link rel="stylesheet" href="../../Content/superfish1.css" media="screen" />
    </text>        
    }*@
</head>
<body>
    <div id="header">
        <div class="wrapper-top">
            @if (Helper.IsBackofficeMenu(ViewContext) && Request.IsAuthenticated)
            {
                <a href="@Url.Action("LogOff", "Account")" style="display: block; text-align: right; color: #006757; font-family: 'Arial'; font-size: 13px;">Odjava</a>
            }
            <div style="float: left;">
                @Html.ActionLink("Početna", "Index", null, new { id = "logo" })
            </div>
            <div style="float: right;">
                @if (Helper.IsBackofficeMenu(ViewContext))
                {
                    @Html.Partial("_BackofficeMenuUp")
                }
                else
                {
                    @Html.Partial("_HomeMenuUp")
                }
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div id="navigation">
        <div class="wrapper-navi">
        <div class="main-navi-c">
         @if (Helper.IsBackofficeMenu(ViewContext))
         {
                @Html.Partial("_BackofficeMenuMiddle")
         }
         else
         {
                @Html.Partial("_HomeMenuMiddleIe6")
         }
        </div>
            <div class="main-navi-l"></div>
            <div class="main-navi-r"></div>
        </div>
    </div>
    <div id="content" class="wrapper">
        @RenderBody()
        <div id="content-info">
            <div class="container_12">
                <div class="grid_12">
                    <div class="grid_9 alpha">
                        <div class="grid_12">
                            <div class="grid_5 alpha">
                                <div class="info-box">
                                    <div class="title">
                                        Kontakt</div>
                                    <div class="content">
                                        Tržište novca i<br />
                                        kratkoročnih vrijednosnica d.d.
                                        <br />
                                        <br />
                                        Heinzelova 62a/III kat<br />
                                        10000 Zagreb, Hrvatska
                                    </div>
                                </div>
                            </div>
                            <div class="grid_7 omega">
                                <div class="contact">
                                    <img src="@Url.Content("~/Content/layout/tel.png")" style="margin-top:25px;margin-right:20px;" alt=""/>+
                                    385 1 6009 840<br />
                                    <img src="@Url.Content("~/Content/layout/fax.png")" style="margin-top:25px;margin-right:20px;" alt=""/>+
                                    385 1 6009 870<br />
                                    <img src="@Url.Content("~/Content/layout/mail.png")" style="margin-top:25px;margin-right:20px;" alt=""/>
                                        @*<a href="mailto:info@trzistenovca.hr">info@trzistenovca.hr</a>*@
                                        info@trzistenovca.hr
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid_3 omega">
                        <img src="@Url.Content("~/Content/layout/pismo_slika_bez_sjene.png")" style="float:right;margin-right:40px;margin-top:20px;" alt=""/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="wrapper">
            <div class="container_12">
                <div class="grid_12">
                    <div class="grid_2">
                        <img src="@Url.Content("~/Content/layout/logo_footer.png")" style="margin-left:40px;" alt="" />
                    </div>
                    <div class="grid_10">
                        <ul id="bottom-nav">
                            <li>@Html.ActionLink("Početna", "Index")</li>
                            <li>@Html.ActionLink("Sudionici", "SudionikGrupaList")</li>
                            <li>@Html.ActionLink("Konferencije", "KonferencijaList")</li>
                            <li>@Html.ActionLink("Korisne adrese", "SudionikList", new { sudionikGrupaId = (long)SudionikGrupaEnum.KorisneAdrese })</li>
                        </ul>
                    </div>
                </div>
                <div class="grid_12">
                <div class="author">
                    Sva prava pridržava Tržište novca d.d., Dizajn web stranica <a href="http://www.mcs.hr" target="_blank" style="color: #006757;">MCS grupa</a> &copy; @DateTime.Now.Year
                </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
