@using NinjaSoftware.TrzisteNovca.CoolJ.DatabaseGeneric.BusinessLogic

            <ul class="sf-menu">
                <li><a href="#">Trgovanje</a>
                    <ul>
                        <li>@Html.ActionLink("Promet", "TrgovanjeGodina", null, new { style = "background-image: none;" })</li>
                        <li>@Html.ActionLink("Trgovanje po rokovima", "TrgovanjeGodinaRok", null, new { style = "background-image: none;" })</li>
                    </ul>
                </li>
                <li><a href="#">Kamatne stope</a>
                    <ul>
                        <li>@Html.ActionLink("Kamatne stope na tržištu novca", "TrgovanjeGodinaRokKamatneStope", null, new { style = "background-image: none;" })</li>
                        <li>@Html.ActionLink("Kamatne stope u međubankarskom trgovanju", "TrgovanjeGodinaRokHnbKamatneStope", null, new { style = "background-image: none;" })</li>
                    </ul>
                </li>
                <li>@Html.ActionLink("Aukcija trezorskih zapisa MF", "AukcijaTrezorskihZapisa", null, new { style = "background-image: none;" })</li>
                <li>@Html.ActionLink("Repo aukcija HNB", "RepoAukcija")</li>
                    <li><a href="#">O nama</a>
                        <ul>
                            <li>@Html.ActionLink("O nama", "SysHtmlPage", new { sistemskaInstancaPodatakaId = (long)SistemskaInstancaPodatakaEnum.HtmlONamaHr })</li>
                            <li>@Html.ActionLink("Dioničari", "SudionikList", new { sudionikGrupaId = (long)SudionikGrupaEnum.Dionicari })</li>
                            <li>@Html.ActionLink("Sustav SETT", "SysHtmlPage", new { sistemskaInstancaPodatakaId = (long)SistemskaInstancaPodatakaEnum.HtmlSett })</li>
                        </ul>
                    </li> 
            </ul>