@using NinjaSoftware.TrzisteNovca.CoolJ.DatabaseGeneric.BusinessLogic
<div class="nav-wrapper">
    <ul id="nav">
        <li>@Html.ActionLink("POČETNA", "Index")</li>
        <li><a href="#">TRGOVANJE</a>
            <ul>
                <li>@Html.ActionLink("PROMET", "TrgovanjeGodina", null, new { style = "background-image: none;" })</li>
                <li>@Html.ActionLink("TRGOVANJE PO ROKOVIMA", "TrgovanjeGodinaRok", null, new { style = "background-image: none;" })</li>
            </ul>
        </li>
        <li><a href="#">KAMATNE STOPE</a>
            <ul>
                <li>@Html.ActionLink("KAMATNE STOPE NA TRŽIŠTU NOVCA ZAGREB", "TrgovanjeGodinaRokKamatneStope", null, new { style = "background-image: none; width: 21em;" })</li>
                <li>
                    <a style="width: 21em;" href="@Url.Action("TrgovanjeGodinaRokHnbKamatneStope")">KAMATNE STOPE U MEĐUBANKARSKOM TRGOVANJU</a>
                </li>
                <li>
                    <a style="width: 21em;" href="@Url.Action("KamatnaStopaHnb")">KAMATNE STOPE HNB-a</a>
                </li>
            </ul>
        </li>
        <li>@Html.ActionLink("SUDIONICI", "SudionikGrupaList")</li>
        <li>@Html.ActionLink("KONFERENCIJE", "KonferencijaList")</li>
        <li><a href="#">O NAMA</a>
            <ul>
                <li>@Html.ActionLink("O NAMA", "SysHtmlPage", new { sistemskaInstancaPodatakaId = (long)SistemskaInstancaPodatakaEnum.HtmlONamaHr })</li>
                <li>@Html.ActionLink("DIONIČARI", "SudionikList", new { sudionikGrupaId = (long)SudionikGrupaEnum.Dionicari })</li>
                <li>@Html.ActionLink("SUSTAV SETT", "SysHtmlPage", new { sistemskaInstancaPodatakaId = (long)SistemskaInstancaPodatakaEnum.HtmlSett })</li>
                <li>@Html.ActionLink("KONTAKT", "SysHtmlPage", new { sistemskaInstancaPodatakaId = (long)SistemskaInstancaPodatakaEnum.HtmlKontakt })</li>
            </ul>
        </li>
    </ul>
</div>
