@using NinjaSoftware.TrzisteNovca.CoolJ.DatabaseGeneric.BusinessLogic
@using NinjaSoftware.TrzisteNovca.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Tržište Novca</title>
    <link href='http://fonts.googleapis.com/css?family=Noticia+Text' rel='stylesheet' type='text/css' />

    @{ 
        int? ieVersion = Helper.GetIeVersion(Request); 
    }

    @if (ieVersion.HasValue && ieVersion <= 7)
    {
        <link href="../../Content/main-ie.9.css" rel="stylesheet"/>    
        <link href="../../Content/ie6.9.css" rel="stylesheet"/>                    
    }
    else
    {
        <link href="../../Content/main.9.css" rel="stylesheet"/>        
    }

    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/globalize")
    @Scripts.Render("~/bundles/custom")
    
    <script src="../../Scripts/hoverIntent.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //$("ul.sf-menu").superfish();

            $("div.print").click(function () {
                redirectToPrintPage();
            });

            $("img.print-1").click(function () {
                redirectToPrintPage();
            });

            $("a").click(function () {
                this.blur();
            });
        });

        function redirectToPrintPage() {
            var params = {};
            params["printPage"] = "true";
            ninjaSoftware.url.setParameters(params, true);        
        }
    </script>

    <script type="text/javascript" src="../../Scripts/jqplot/jquery.jqplot.min.js"></script>
    <script type="text/javascript" src="../../Scripts/jqplot/plugins/jqplot.dateAxisRenderer.min.js"></script>
    <script type="text/javascript" src="../../Scripts/jqplot/plugins/jqplot.highlighter.min.js"></script>
    <script type="text/javascript" src="../../Scripts/jqplot/plugins/jqplot.enhancedLegendRenderer.min.js"></script>
    <script type="text/javascript" src="../../Scripts/jqplot/plugins/jqplot.canvasTextRenderer.min.js"></script>
    <script type="text/javascript" src="../../Scripts/jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../../Scripts/jqplot/jquery.jqplot.min.css" />
   
    @if (ieVersion.HasValue && ieVersion.Value <= 8)
    {
    <text>
        <script type="text/javascript" src="../../Scripts/jqplot/excanvas.min.js"></script>
    </text>    
    }
    
    @if (ieVersion.HasValue && ieVersion.Value <= 7)
    { 
    <text>
        <link href="../../Content/tn.navigation.9.css" rel="stylesheet" type="text/css" />
        <script src="../../Scripts/tn.navigation.8.js" type="text/javascript"></script>
    </text>
    }
    else
    {
    <text>
        <script type="text/javascript" src="../../Scripts/superfish.js"></script>
        <link rel="stylesheet" href="../../Content/superfish.9.css" media="screen" />
    </text>        
    }
</head>
<body>
    <div id="header">
        <div class="wrapper-top">
            @if (Helper.IsBackofficeMenu(ViewContext) && Request.IsAuthenticated)
            {
                <a href="@Url.Action("LogOff", "Account")" style="display: block; text-align: right; color: #006757; font-family: 'Arial'; font-size: 13px;">Odjava</a>
            }
            <div style="float: left;">
                @Html.ActionLink("Početna", "Index", null, new { id = "logo" })
            </div>
            <div style="float: right;">
                @if (Helper.IsBackofficeMenu(ViewContext))
                {
                    @Html.Partial("_BackofficeMenuUp")
                }
                else
                {
                    @Html.Partial("_HomeMenuUp")
                }
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div id="navigation">
        <div class="wrapper-navi">
        <div class="main-navi-c">
         @if (Helper.IsBackofficeMenu(ViewContext))
         {
             @Html.Partial("_BackofficeMenuMiddle")
         }
         else
         {
             if (ieVersion.HasValue && ieVersion.Value <= 7)
             {
                @Html.Partial("_HomeMenuMiddleIe6")
             }
             else
             {
                 @Html.Partial("_HomeMenuMiddle")
             }
         }
        </div>
            <div class="main-navi-l"></div>
            <div class="main-navi-r"></div>
        </div>
    </div>
    <div id="content" class="wrapper">
        @RenderBody()
        @if (!ieVersion.HasValue || ieVersion.Value > 7)
        {
            @Html.Partial("_ContactInfo")
        }
    </div>
    @if (ieVersion.HasValue && ieVersion.Value <= 7)
    {
        <br /><br />
        @Html.Partial("_ContactInfo")
    }
    <div id="footer">
        <div class="wrapper">
            <div class="container_12">
                <div class="grid_12">
                @if (ieVersion.HasValue && ieVersion.Value <= 7)
                { 
                    @Html.Partial("_HomeMenuBottomIe6")
                }
                else
                {
                    @Html.Partial("_HomeMenuBottom")
                }
                </div>
                <div class="grid_12">
                <div class="author">
                    Sva prava pridržava Tržište novca d.d. u likvidaciji, Dizajn web stranica <a href="http://www.mcs.hr" target="_blank" style="color: #006757;">MCS grupa</a> &copy; @DateTime.Now.Year
                </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
