@using NinjaSoftware.TrzisteNovca.CoolJ.DatabaseGeneric.BusinessLogic
@using NinjaSoftware.TrzisteNovca.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Tržište Novca</title>@*<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />*@
    <link href='http://fonts.googleapis.com/css?family=Noticia+Text' rel='stylesheet'
        type='text/css'>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/globalize")
    @Scripts.Render("~/bundles/custom")
    <script type="text/javascript" src="../../Scripts/superfish.js"></script>
    <script src="../../Scripts/hoverIntent.js" type="text/javascript"></script>
    <link rel="stylesheet" href="../../Content/superfish.css" media="screen" />
    <script type="text/javascript">
        $(document).ready(function () {
            $("ul.sf-menu").superfish();

            $("div.tn-datepicker").hide();
        });
    </script>

    <style type="text/css">
        table
        {
            border-width: 0 0 1px 1px;
            border-spacing: 0;
            border-collapse: collapse;
            border-style: solid;
            text-align: center;
        }   
        
        td, th
        {
            margin: 0;
            padding: 4px;
            border-width: 1px 1px 0 0;
            border-style: solid;
        }     
        
        td
        {
            text-align: right;
        }    
    </style>
</head>
<body>
    <div id="content" class="wrapper">
        @RenderBody()
    </div>
</body>
</html>
