@model NinjaSoftware.TrzisteNovca.CoolJ.EntityClasses.KamatnaStopaHnbEntity

@{
    string title = "Kamatne stope HNB-a";
    ViewBag.Title = title;
}

<div class="content-box">

<h3>@title</h3>

    <div class="content">

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.ConcurrencyGuid)
    @Html.HiddenFor(model => model.KamatnaStopaHnbId)

        <div class="editor-label">
            Eskontna stopa:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Eskontna)
            @Html.ValidationMessageFor(model => model.Eskontna)
        </div>

        <div class="editor-label">
            Za korištenje lombarnog kredita:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LombarniKredit)
            @Html.ValidationMessageFor(model => model.LombarniKredit)
        </div>

        <div class="editor-label">
            Na sredstva položenog novčanog depozita kod HNB-a:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Depozit)
            @Html.ValidationMessageFor(model => model.Depozit)
        </div>
        
        <div class="editor-label">
            Stopa obvezne pričuve:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Pricuva)
            @Html.ValidationMessageFor(model => model.Pricuva)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
}
    </div>
</div>