@model NinjaSoftware.TrzisteNovca.CoolJ.EntityClasses.KamatnaStopaHnbEntity

@{
    string title = "Kamatne stope HNB-a";
    ViewBag.Title = title;
}

<div class="content-box">

<h3>@title</h3>

    <div class="content">

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.ConcurrencyGuid)
    @Html.HiddenFor(model => model.KamatnaStopaHnbId)

        <div class="editor-label">
            Eskontna stopa:
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Eskontna, new { @class = "number" })
            @Html.ValidationMessageFor(model => model.Eskontna)
        </div>
        <br />
        <div class="editor-label">
            Za korištenje lombarnog kredita:
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.LombarniKredit, new { @class = "number" })
            @Html.ValidationMessageFor(model => model.LombarniKredit)
        </div>
        <br />
        <div class="editor-label">
            Na sredstva položenog novčanog depozita kod HNB-a:
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Depozit, new { @class = "number" })
            @Html.ValidationMessageFor(model => model.Depozit)
        </div>
        <br />
        <div class="editor-label">
            Stopa obvezne pričuve:
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Pricuva, new { @class = "number" })
            @Html.ValidationMessageFor(model => model.Pricuva)
        </div>
        <br />
        <p>
            <input type="submit" value="Pohrani" />
        </p>
}
    </div>
</div>