@model NinjaSoftware.TrzisteNovca.Models.BackOffice.TrgovanjeGlavaPager
@using NinjaSoftware.TrzisteNovca.CoolJ.EntityClasses
@using NinjaSoftware.TrzisteNovca.Common
@{
    string title = "Pregled trgovanja";
    ViewBag.Title = title;
}

<div class="content-box">

<h3>@title</h3>

<p>
    @Html.ActionLink("Učitaj trgovanje iz SETT datoteke", "TrgovanjeUpload")
</p>

<p>
    @Html.ActionLink("Kreiraj trgovanje", "TrgovanjeEdit")
</p>

<table class="default">
  <thead>
    <tr>
        <th>
            Datum
        </th>
        <th>
            Komentar
        </th>
        <th></th>
    </tr>
  </thead>
  <tbody>
@foreach (TrgovanjeGlavaEntity trgovanjeGlava in Model.DataSource)
{
    <tr>
        @{
            string komentar = trgovanjeGlava.Komentar;

            if (komentar.Length > 120)
            {
                komentar = komentar.Substring(0, 120);
            }
         }
        <td>
            @trgovanjeGlava.Datum.ToShortDateString()
        </td>
        <td>
            @komentar
        </td>
        <td>
            @Html.ActionLink("Uredi", "TrgovanjeEdit", new { trgovanjeGlavaId = trgovanjeGlava.TrgovanjeGlavaId }) |
            @Html.ActionLink("Obriši", "TrgovanjeDelete", 
                new { trgovanjeGlavaId = trgovanjeGlava.TrgovanjeGlavaId }, 
                new { onclick = "return confirm('Jeste li sigurni da želite obrisati trgovanje?');" })
        </td>
    </tr>
}
  </tbody>
  <tfoot>
    <tr>
        <td colspan="3" style="text-align: center;">
            @Model.GenerateDropDownPagingAndPrevNextHtmlElements(Config.PagerPrefixText())
        </td>
    </tr>
  </tfoot>
</table>
</div>