@model NinjaSoftware.TrzisteNovca.Models.BackOffice.TrgovanjeGlavaHnbPager
@using NinjaSoftware.TrzisteNovca.CoolJ.EntityClasses
@using NinjaSoftware.TrzisteNovca.Common
@{
    string title = "Pregled trgovanja";
    ViewBag.Title = title;
}

<div class="content-box">

<h3>@title</h3>

<p>
    @Html.ActionLink("Kreiraj trgovanje", "TrgovanjeHnbEdit")
</p>

<table class="default" style="width: 400px">
  <thead>
    <tr>
        <th>
            Datum
        </th>
        <th></th>
    </tr>
  </thead>
  <tbody>
@foreach (TrgovanjeGlavaHnbEntity trgovanjeGlavaHnb in Model.DataSource)
{
    <tr>
        <td>
            @trgovanjeGlavaHnb.Datum.ToShortDateString()
        </td>
        <td>
            @Html.ActionLink("Uredi", "TrgovanjeHnbEdit", new { trgovanjeGlavaHnbId = trgovanjeGlavaHnb.TrgovanjeGlavaHnbId }) |
            @Html.ActionLink("Obriši", "TrgovanjeHnbDelete", 
                new { trgovanjeGlavaHnbId = trgovanjeGlavaHnb.TrgovanjeGlavaHnbId }, 
                new { onclick = "return confirm('Jeste li sigurni da želite obrisati trgovanje?');" })
        </td>
    </tr>
}
  </tbody>
  <tfoot>
    <tr>
        <td colspan="3" style="text-align: center;">
            @Model.GenerateDropDownPagingAndPrevNextHtmlElements(Config.PagerPrefixText())
        </td>
    </tr>
  </tfoot>
</table>

</div>