@model NinjaSoftware.TrzisteNovca.CoolJ.EntityClasses.KamatnaStopaHnbEntity

@{
    string title = "Kamatne stope Hrvatske narodne banke";
    ViewBag.Title = title;
}

<div class="content-header">
    <h1>@title</h1>
</div>
<div class="participant-p5" style="color: #006757">
        Eskontna stopa: @Model.Eskontna.ToString("N2")%
        <br /><br />
        Za korištenje lombarnog kredita: @Model.LombarniKredit.ToString("N2")%
        <br /><br />
        Na sredstva položenog novčanog depozita kod HNB-a: @Model.Depozit.ToString("N2")%
        <br /><br />
        Stopa obvezne pričuve: @Model.Pricuva.ToString("N2")%
</div>