@using NinjaSoftware.TrzisteNovca.CoolJ.DatabaseGeneric.BusinessLogic

@{
    string title = "Konferencije";
    ViewBag.Title = title;
}

<div class="content-header">
    <h1>
        @title</h1>
</div>
<div class="content-box"> 
    <h4>@Html.ActionLink("21. znanstveno-stručna konferencija HRVATSKO NOVČANO TRŽIŠTE, Opatija 2018.", "HtmlPage", new { htmlPageId = 567 })</h4>
    <br />
    <h4>@Html.ActionLink("20. znanstveno-stručna konferencija HRVATSKO NOVČANO TRŽIŠTE, Opatija 2017.", "HtmlPage", new { htmlPageId = 566 })</h4>
    <br />
    <h4>@Html.ActionLink("19. znanstveno-stručna konferencija HRVATSKO NOVČANO TRŽIŠTE, Opatija 2016.", "HtmlPage", new { htmlPageId = 565 })</h4>
    <br />
    <h4>@Html.ActionLink("18. znanstveno-stručna konferencija HRVATSKO NOVČANO TRŽIŠTE, Opatija 2015.", "HtmlPage", new { htmlPageId = 564 })</h4>
    <br />
    <h4>@Html.ActionLink("17. znanstveno-stručna konferencija HRVATSKO NOVČANO TRŽIŠTE, Opatija 2014.", "HtmlPage", new { htmlPageId = 563 })</h4>
    <br />
    <h4>@Html.ActionLink("16. znanstveno-stručna konferencija HRVATSKO NOVČANO TRŽIŠTE, Opatija 2013.", "HtmlPage", new { htmlPageId = 562 })</h4>
    <br />
    <h4>@Html.ActionLink("15. znanstveno-stručna konferencija HRVATSKO NOVČANO TRŽIŠTE, Opatija 2012.", "HtmlPage", new { htmlPageId = 10 })</h4>
    <br />
    <h4>@Html.ActionLink("14. znanstveno-stručna konferencija HRVATSKO NOVČANO TRŽIŠTE, Opatija 2011.", "HtmlPage", new { htmlPageId = 9 })</h4>
    <br />
    <h4>@Html.ActionLink("13. znanstveno-stručna konferencija HRVATSKO NOVČANO TRŽIŠTE, Opatija 2010.", "HtmlPage", new { htmlPageId = 8 })</h4>
    <br />
    <h4>@Html.ActionLink("12. znanstveno-stručna konferencija HRVATSKO NOVČANO TRŽIŠTE, Opatija 2009.", "HtmlPage", new { htmlPageId = 7 })</h4>
    <br />
    <h4>@Html.ActionLink("11. znanstveno-stručna konferencija HRVATSKO NOVČANO TRŽIŠTE, Opatija 2008.", "HtmlPage", new { htmlPageId = 5 })</h4>
    <br />
</div>