@model NinjaSoftware.TrzisteNovca.Models.Home.TrgovanjeMjesecRokHnbViewModel
@using NinjaSoftware.TrzisteNovca.Models
@using NinjaSoftware.TrzisteNovca.CoolJ.EntityClasses
@using NinjaSoftware.TrzisteNovca.CoolJ.DatabaseGeneric.BusinessLogic
@{
    string title = string.Format("Kamatne stope u {0} {1}. godine u međubankarskom trgovanju", Helper.DativMjeseca(Model.Mjesec), Model.Godina);
    ViewBag.Title = title;
}

<script type="text/javascript">
    $(document).ready(function () {
        var lineProsjecna = @Model.ChartLineProsjecnaDataSource;

        var plot1 = $.jqplot('chart', [lineProsjecna], {
            axes: {
                xaxis: {
                    renderer: $.jqplot.DateAxisRenderer,
                    tickOptions: { formatString: "%d. %m." }
                },
                yaxis: {
                    min: 0
                }
            }
        });
    });
</script>

<div class="content-header">
    <h1>@title</h1>
</div>
<div class="content-box">
<div class="tn-datepicker">
    <div class="print">
    </div>
</div>
    <br />
    <br />
    @Html.Partial("_UPostotcima")
    <table class="default">
      <thead>
        <tr>
            <th>datum
            </th>
            <th>prosječna</th>
            @foreach (TrgovanjeVrstaRoEntity trgovanjeVrsta in Model.TrgovanjeVrstaList)
            { 
                <th>@trgovanjeVrsta.Name
                </th>
            }
        </tr>
      </thead>
      <tbody>
        @foreach (TrgovanjeGlavaHnbEntity trgovanjeGlavaHnb in Model.TrgovanjeGlavaHnbCollection)
        {
            <tr>
                @*<td>@trgovanjeGlavaHnb.Datum.ToShortDateString()</td>*@
                <td>@Html.ActionLink(trgovanjeGlavaHnb.Datum.ToShortDateString(), "KamatnaStopa", new { jeHnbTrgovanje = true, trgovanjeId = trgovanjeGlavaHnb.TrgovanjeGlavaHnbId})</td>
                @{
                    decimal? ukupnoKamatnaStopa = trgovanjeGlavaHnb.KamatnaStopaUkupno();
                    string ukupnoKamatnaStopaString = ukupnoKamatnaStopa.HasValue ? ukupnoKamatnaStopa.Value.ToString("N2") : "-";
                    }
                <td><strong>@ukupnoKamatnaStopaString</strong></td>
                @foreach (TrgovanjeVrstaRoEntity trgovanjeVrsta in Model.TrgovanjeVrstaList)
                {
                    TrgovanjeStavkaHnbEntity trgovanjeStavka = trgovanjeGlavaHnb.TrgovanjeStavkaHnbCollection.
                        Where(ts => ts.TrgovanjeVrstaId == (long)trgovanjeVrsta.TrgovanjeVrstaId).SingleOrDefault();


                    string kamatnaStopaString = "-";

                    if (null != trgovanjeStavka)
                    {
                        kamatnaStopaString = trgovanjeStavka.KamatnaStopa.ToString("N2");
                    }
            
                    <td>@kamatnaStopaString
                    </td>
                }
            </tr>
        }
      </tbody>
    </table>
    @Html.Partial("_IzvorHnb")

    <h4>PROSJEČNA KAMATNA STOPA (%)</h4>
    <div id="chart"></div>
</div>
