@model NinjaSoftware.TrzisteNovca.Models.Home.TrgovanjeGodinaRokTrzisteViewModel
@using NinjaSoftware.TrzisteNovca.CoolJ.EntityClasses
@using NinjaSoftware.TrzisteNovca.CoolJ.DatabaseGeneric.BusinessLogic
@using System.Globalization
@using NinjaSoftware.TrzisteNovca.Models
@{
    string title = string.Format("Kamatne stope u {0}. godini", Model.Godina);
    ViewBag.Title = title;

    CultureInfo hrCulture = new CultureInfo("hr");
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#dropDownGodina").change(function () {
            window.location.href = "@Url.Action("TrgovanjeGodinaRokKamatneStope")" + "?godina=" + this.value;
        });

        var lineProsjecna = @Model.ChartLineProsjecnaDataSource;

        var plot1 = $.jqplot('chart', [lineProsjecna], {
            axes: {
                xaxis: {
                    ticks: [[1, "sječanj"], [2, "veljača"], [3, "ožujak"], [4, "travanj"], [5, "svibanj"], [6, "lipanj"], 
                    [7, "srpanj"], [8, "kolovoz"], [9, "rujan"], [10, "listopad"], [11, "studeni"], [12, "prosinac"]]
                },
                yaxis: {
                    min: 0
                }
            }
        });
    });
</script>
<div class="content-header">
    <h1>@title</h1>
</div>
<div class="content-box">
<div class="tn-datepicker">
    <div class="input">Promijeni godinu: @Html.DropDownList("dropDownGodina", Model.GodinaSelectList, new { id = "dropDownGodina" })</div>
    <div class="print">
    </div>
</div>
    <br />
    <br />
    @Html.Partial("_UPostotcima")
    <table class="default">
    <thead>
        <tr>
            <th>mjesec
            </th>
            <th>prosječna</th>
            @foreach (TrgovanjeVrstaRoEntity trgovanjeVrsta in Model.TrgovanjeVrstaList)
            { 
                string trgovanjeVrstaName;
                if (trgovanjeVrsta.TrgovanjeVrstaId == (long)TrgovanjeVrstaEnum.ViseOdTriMjeseca)
                {
                    trgovanjeVrstaName = "više od<br />3 mjeseca";
                }
                else
                {
                    trgovanjeVrstaName = trgovanjeVrsta.Name;
                }
                <th>@Html.Raw(trgovanjeVrstaName)
                </th>
            }
        </tr>
        </thead>
        <tbody>
        @foreach (TrgovanjeMjesecRok trgovanjeMjesecRok in Model.TrgovanjeMjesecRokCollection)
        { 
            <tr>
                <td>
                    @Html.ActionLink(@hrCulture.DateTimeFormat.GetMonthName(trgovanjeMjesecRok.Mjesec),
                "TrgovanjeMjesecRokTrzisteKamatneStope",
                new { godina = Model.Godina, mjesec = trgovanjeMjesecRok.Mjesec })
                </td>

                @{
            string ukupnoString = trgovanjeMjesecRok.KamatnaStopaUkupno.HasValue ? trgovanjeMjesecRok.KamatnaStopaUkupno.Value.ToString("N2") : "-";
                    }
                <td><strong>@ukupnoString</strong>
                </td>
                @foreach (TrgovanjeVrstaRoEntity trgovanjeVrsta in Model.TrgovanjeVrstaList)
                {
                    TrgovanjeRok trgovanjeRok = trgovanjeMjesecRok.TrgovanjeRokList.Where(tr => (long)tr.TrgovanjeVrstaEnum == trgovanjeVrsta.TrgovanjeVrstaId).SingleOrDefault();
                    string kamatnaStopaString = "-";

                    if (null != trgovanjeRok &&
                        trgovanjeRok.Promet.HasValue)
                    {
                        kamatnaStopaString = trgovanjeRok.KamatnaStopa.Value.ToString("N2");
                    }
            
                    <td>@kamatnaStopaString
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
    <div class="chartArea">
        <h4>PROSJEČNA KAMATNA STOPA (%)</h4>
        <div id="chart"></div>
    </div>
</div>
