@model NinjaSoftware.TrzisteNovca.Models.Home.TrgovanjeGodinaViewModel

@{
    string title = string.Format("Trgovanje u {0}. godini", Model.Godina);
    ViewBag.Title = title;
}

<script type="text/javascript" src="../../Scripts/jqplot/plugins/jqplot.categoryAxisRenderer.min.js"></script>

<div class="content-header">
<h1>@title</h1>
</div>
<div class="content-box">
<div class="tn-datepicker">
    <div class="input">Promijeni godinu: @Html.DropDownList("dropDownGodina", Model.GodinaSelectList, new { id = "dropDownGodina" })</div>
    <div class="print">
    </div>
</div>
<br /><br />

@Html.Partial("_TrgovanjeGodinaKuna", Model)
<br /><br />
@Html.Partial("_TrgovanjeGodinaDevize", Model)

<div class="chartArea">
<h4>TRGOVANJE KUNAMA (u mil. kn)</h4>
<div id="chart">

</div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var linePonuda = @Model.ChartLinePonudaDataSource;
        var linePotraznja = @Model.ChartLinePotraznjaDataSource;
        var linePromet = @Model.ChartLinePrometDataSource;

        var plot1 = $.jqplot('chart', [linePonuda, linePotraznja, linePromet], {
            axes: {
                xaxis: {
                    ticks: [[1, "sječanj"], [2, "veljača"], [3, "ožujak"], [4, "travanj"], [5, "svibanj"], [6, "lipanj"], 
                    [7, "srpanj"], [8, "kolovoz"], [9, "rujan"], [10, "listopad"], [11, "studeni"], [12, "prosinac"]]
                },
                yaxis: {
                    min: 0
                }
            },
            legend: { 
                renderer: $.jqplot.EnhancedLegendRenderer,
                show: true,
                location: "s",
                placement: "outside",
                labels: ["Ponuda", "Potražnja", "Promet"],
                marginTop: "35px",
                rendererOptions: {
                    numberRows: 1
                }
            }
        });

        $("#dropDownGodina").change(function () {
            window.location.href = "@Url.Action("TrgovanjeGodina")" + "?godina=" + this.value;
        });
    });
</script>
</div>