@model NinjaSoftware.TrzisteNovca.Models.Home.TrgovanjeMjesecRokTrzisteViewModel
@using NinjaSoftware.TrzisteNovca.Models
@using NinjaSoftware.TrzisteNovca.CoolJ.EntityClasses
@using NinjaSoftware.TrzisteNovca.CoolJ.DatabaseGeneric.BusinessLogic
@{
    string title = string.Format("Trgovanje po rokovima u {0} {1}. godine", Helper.DativMjeseca(Model.Mjesec), Model.Godina);
    ViewBag.Title = title;
}
<div class="content-header">
    <h1>@title</h1>
</div>
<div class="content-box">
    <div class="tn-datepicker">
        <div class="print">
        </div>
    </div>
    <br />
    @{
        bool isPrintPage = false;
        
        if (null != @Request.Params["printPage"] &&
            "true" == @Request.Params["printPage"])
        {
            isPrintPage = true;
        }
        }
        @if (isPrintPage)
        {
            ViewDataDictionary viewData = new ViewDataDictionary();
            viewData["startColumn"] = 0;
            viewData["onOfColumns"] = 4;
            @Html.Partial("_TrgovanjeMjesecRokTable", Model, viewData)

            <br /><br />
            viewData["startColumn"] = 4;
            viewData["onOfColumns"] = 4;
            
            @Html.Partial("_TrgovanjeMjesecRokTable", Model, viewData)

            <br /><br />
            viewData["startColumn"] = 8;
            viewData["onOfColumns"] = 3;
            
            @Html.Partial("_TrgovanjeMjesecRokTable", Model, viewData)            
        }
        else
        {
    @Html.Partial("_TrgovanjeMjesecRokTable", Model)
        }
</div>
