@model NinjaSoftware.TrzisteNovca.Models.Home.TrgovanjeGodinaRokHnbViewModel
@using NinjaSoftware.TrzisteNovca.CoolJ.EntityClasses
@using NinjaSoftware.TrzisteNovca.CoolJ.DatabaseGeneric.BusinessLogic
@using System.Globalization
@using NinjaSoftware.TrzisteNovca.Models
@{
    string title = string.Format("Kamatne stope u međubankarskom trgovanju u {0}. godini u %", Model.Godina);
    ViewBag.Title = title;

    CultureInfo hrCulture = new CultureInfo("hr");
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#dropDownGodina").change(function () {
            window.location.href = "@Url.Action("TrgovanjeGodinaRokKamatneStope")" + "?godina=" + this.value;
        });

        var lineProsjecna = @Model.ChartLineProsjecnaDataSource;

        var plot1 = $.jqplot('chart', [lineProsjecna], {
            axes: {
                xaxis: {
                    min: 1,
                    max: 12,
                    tickInterval: 1
                },
                yaxis: {
                    min: 0
                }
            }
        });
    });
</script>

<div class="content-header">
    <h1>@title</h1>
</div>
<div class="content-box">
<div class="tn-datepicker">
    <div class="input">Promijeni godinu: @Html.DropDownList("dropDownGodina", Model.GodinaSelectList, new { id = "dropDownGodina" })</div>
    <div class="print">
    </div>
</div>
    <br />
    <br />
    <table class="default">
    <thead>
        <tr>
            <th>mjesec
            </th>
            <th>prosječna</th>
            @foreach (TrgovanjeVrstaRoEntity trgovanjeVrsta in Model.TrgovanjeVrstaList)
            { 
                <th>@trgovanjeVrsta.Name
                </th>
            }
        </tr>
        </thead>
        <tbody>
        @foreach (TrgovanjeMjesecRokHnb trgovanjeMjesecRokHnb in Model.TrgovanjeMjesecRokHnbCollection)
        { 
            <tr>
                <td>
                    @Html.ActionLink(@hrCulture.DateTimeFormat.GetMonthName(trgovanjeMjesecRokHnb.Mjesec),
                "TrgovanjeMjesecRokHnbKamatneStope",
                new { godina = Model.Godina, mjesec = trgovanjeMjesecRokHnb.Mjesec })
                </td>
                @{
                    string kamatnaStopaUkupnoString = trgovanjeMjesecRokHnb.KamatnaStopaUkupno.HasValue ? trgovanjeMjesecRokHnb.KamatnaStopaUkupno.Value.ToString("N2") : "-"; ;
                 }
                <td><strong>@kamatnaStopaUkupnoString</strong>
                </td>
                @foreach (TrgovanjeVrstaRoEntity trgovanjeVrsta in Model.TrgovanjeVrstaList)
                {
                    TrgovanjeRok trgovanjeRok = trgovanjeMjesecRokHnb.TrgovanjeRokList.Where(tr => (long)tr.TrgovanjeVrstaEnum == trgovanjeVrsta.TrgovanjeVrstaId).SingleOrDefault();
                    string kamatnaStopaString = "-";

                    if (null != trgovanjeRok &&
                        trgovanjeRok.KamatnaStopa.HasValue)
                    {
                        kamatnaStopaString = trgovanjeRok.KamatnaStopa.Value.ToString("N2");
                    }
            
                    <td>@kamatnaStopaString
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
    <span style="font-size: 8px;">Izvor: HNB</span>

    <h4>PROSJEČNA KAMATNA STOPA (%)</h4>
    <div id="chart">

    </div>
</div>
