@model NinjaSoftware.TrzisteNovca.Models.Home.TrgovanjeMjesecRokTrzisteViewModel
@using NinjaSoftware.TrzisteNovca.Models
@using NinjaSoftware.TrzisteNovca.CoolJ.EntityClasses
@using NinjaSoftware.TrzisteNovca.CoolJ.DatabaseGeneric.BusinessLogic
@{
    string title = string.Format("Kamatne stope u {0} {1}. godine", Helper.DativMjeseca(Model.Mjesec), Model.Godina);
    ViewBag.Title = title;
}
<div class="content-header">
    <h1>@title</h1>
</div>
<div class="content-box">
<div class="tn-datepicker">
    <div class="print">
    </div>
</div>
<br />
    <table class="default">
      <thead>
        <tr>
            <th>Datum
            </th>
            <th>prosječna</th>
            @foreach (TrgovanjeVrstaRoEntity trgovanjeVrsta in Model.TrgovanjeVrstaList)
            { 
                <th>@trgovanjeVrsta.Name
                </th>
            }
        </tr>
      </thead>
      <tbody>
        @foreach (TrgovanjeGlavaEntity trgovanjeGlava in Model.TrgovanjeGlavaCollection)
        {
            <tr>
                @*<td>@Html.ActionLink(trgovanjeGlava.Datum.ToShortDateString(), "TrgovanjeDan", new { date = trgovanjeGlava.Datum.ToString("yyyy-MM-dd") })</td>*@
                <td>@Html.ActionLink(trgovanjeGlava.Datum.ToShortDateString(), "KamatnaStopa", new { jeHnbTrgovanje = false, trgovanjeId = trgovanjeGlava.TrgovanjeGlavaId})</td>
                <td>
                    @{decimal? ksUkupno = trgovanjeGlava.PrometKamatnaStopaPosto(ValutaEnum.Kn);
                      string ksUkupnoString = ksUkupno.HasValue ? ksUkupno.Value.ToString("N2") : "-";}
                    <strong>@ksUkupnoString</strong>
                </td>
                @foreach (TrgovanjeVrstaRoEntity trgovanjeVrsta in Model.TrgovanjeVrstaList)
                {
                    TrgovanjeStavkaEntity trgovanjeStavka = trgovanjeGlava.TrgovanjeStavkaCollection.
                        Where(ts => ts.TrgovanjeVrstaId == (long)trgovanjeVrsta.TrgovanjeVrstaId).SingleOrDefault();


                    string kamatnaStopaString = "-";

                    if (null != trgovanjeStavka)
                    {
                        kamatnaStopaString = trgovanjeStavka.PrometDodatak.ToString("N2");
                    }
            
                    <td>@kamatnaStopaString
                    </td>
                }
            </tr>
        }
      </tbody>
    </table>
</div>
